html,
body {
    margin: 0;
    padding: 0;
    font-size: 10px;
    font-family: "Georgia", serif;
    line-height: 1;
    overflow: hidden;
}

section[role="region"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    background-image:     -moz-linear-gradient(center top , #006601 30%, rgba(34, 18, 101, 0.12)), url("images/gray_jean.png");
}

header {
    text-align: center;
    color: white;
    padding: 1px 0px;
    background-image: -moz-linear-gradient(center top , rgba(171, 175, 212, 0.8), #090000), url("img/classy_fabric.png");
}

h1 {
    font-weight: normal;
    font-size: 24px;
    font-style: italic;
    text-shadow: 2px 2px 2px black;
}
header .back_button{
    text-decoration: none;
    color:burlywood;
    font-size: 12px;
    
    float:left;
    position:absolute;
    top:20px;
    left:5px;

